@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&display=swap');

body, * {
    margin: 0;
    padding: 0;
    background-color: var(--light--);
    font-family: "Inter Tight", sans-serif;
}

:root {
    --primary-purple--: #4b1c71;
    --second-purple--: #7f4ca5;
    --three-purple--: #b57edc;
    --light--: #fefefe;
    --gray--: #f0efef;
    --black--: #000;
}

/* -------------------------- */

.header-content {
    display: flex;
    padding: 30px;
}

.header-content img {
    margin-bottom: 10px;    
}

.header-content h1 {
    font-size: 28px;
    padding-right: 50px;
}

.header-content .hr-right {
    position: absolute;
    top: 0;
    left: 280px;
    height: 100vh;
}

.header-content .header-search input {
    background-color: var(--gray--);
    border: none;
    padding: 10px;
    border-radius: 4px;
    width: 320px;
    margin-left: 80px;
}

.header-content .header-search .icons {
    position: absolute;
    right: 240px;
    top: 43px;
}

.fa-calendar, .fa-cloud, .fa-bell {
    padding: 0px 5px;
    font-size: 18px;
    cursor: pointer;
    transition: .4s;
}

.fa-calendar:hover, .fa-cloud:hover, .fa-bell:hover {
    opacity: .8;
}

.profile {
    display: flex;
    position: absolute;
    right: 40px;
    top: 25px;
}

.profile img {
    cursor: pointer;
}

.profile-name {
    margin: 10px 10px 0px 0px;
    font-size: 14px;
}

ul {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    padding: 31px 22px;
    list-style: none;
}

a {
    text-decoration: none;
    color: #787486;
}

.list-icons {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

menu{
    margin-left: 22px;
    background-color: #5030E514;
}

.dot {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 20px;
    border-radius: 50%;
    border: none;
}

.dot-green {
    background-color: #7AC555;
}

.dot-orange {
    background-color: #FFA500;
}

.dot-purple {
    background-color: #E4CCFD;
}

.dot-blue {
    background-color: #76A5EA;
}

.options{
    padding: 20px 20px;
}

.my-project {
    display: flex;
    gap: 140px;
    padding-bottom: 30px;
}

.my-project h2 {
    color: #787486;
    font-size: 12px;
    font-weight: 700;
}

.add {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #787486;
    border-radius: 4px;
    width: 13.33px;
    height: 13.33px;
}